out_folder='TIMIT_MLP_mfcc'
device='cuda:0'
seed=1234

[data]
count_file='$KALDI_ROOT/egs/timit/s5/exp/dnn4_pretrain-dbn_dnn/ali_train_pdf.counts'
cw_left=5
cw_right=5

[tr_data]
fea_scp=[
    '$TIMIT_MLP/splits_fea/train_split.000',
    '$TIMIT_MLP/splits_fea/train_split.001',
    '$TIMIT_MLP/splits_fea/train_split.002',
    '$TIMIT_MLP/splits_fea/train_split.003',
    '$TIMIT_MLP/splits_fea/train_split.004']
fea_opts='apply-cmvn --utt2spk=ark:$KALDI_ROOT/egs/timit/s5/data/train/utt2spk  ark:$TIMIT_MLP/splits_fea/train_cmvn_speaker.ark ark:- ark:- | add-deltas --delta-order=2 ark:- ark:- |'
lab_folder='$KALDI_ROOT/egs/timit/s5/exp/tri3_ali'
lab_opts='ali-to-pdf'

[dev_data]
fea_scp=['$TIMIT_MLP/mfcc_lists/dev_split.000']
fea_opts='apply-cmvn --utt2spk=ark:$KALDI_ROOT/egs/timit/s5/data/dev/utt2spk  ark:$TIMIT_MLP/mfcc_lists/dev_cmvn_speaker.ark ark:- ark:- | add-deltas --delta-order=2 ark:- ark:- |'
lab_folder='$KALDI_ROOT/egs/timit/s5/exp/tri3_ali_dev'
lab_opts='ali-to-pdf'

[te_data]
fea_scp=['$TIMIT_MLP/mfcc_lists/test_split.000']
fea_opts='apply-cmvn --utt2spk=ark:$KALDI_ROOT/egs/timit/s5/data/test/utt2spk  ark:$TIMIT_MLP/mfcc_lists/test_cmvn_speaker.ark ark:- ark:- | add-deltas --delta-order=2 ark:- ark:- |'
lab_folder='$KALDI_ROOT/egs/timit/s5/exp/tri3_ali_test'
lab_opts='ali-to-pdf'

[architecture]
hidden_dim=1024
N_hid=4
drop_rate=0.15
use_batchnorm=1

[optimization]
num_epochs=24
lr=0.08
halving_factor=0.5
improvement_threshold = 0.001
batch_size=128
save_gpumem=0
